
.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* header */


.bg-light{
    background-color: rgba(255, 144, 14, 0.1);
}

/* Navbar design */

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.nav-links{
    display: flex;      
}

.nav-item{
    list-style: none;
    margin-right: 30px;
}

.nav-link{
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
}

.brand{
    color: #131313;
    /* 16px= 1rem
    45px = 3rem dilam */
    font-size: 3rem;
    font-weight: bold;
}

/* dark-02 */
.text-gray{
    color: #424242;
}

/* dark-03 */
.text-light-gray{
    color:#727272 ;
}


/* Banner part */

.banner, .navbar{
    width: 1420px;
    /* 1920 er jonno dicchi tkhn tw kaj hoy na */
    margin: 0 auto; 
}

.text-primary{
    color: #FF900E;
}

.btn-primary{
    background-color:#FF900E ;
    border-radius: 8px;
    color: white;
    border: none;
    width: 180px;
    height: 64px;
    font-weight: 500;
    font-size: 1.2rem;
}

.banner-content{
    width: 850px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 30px;
}

.banner-title{
    font-size: 4rem;
    font-weight: bold;
    color: #131313;
}

.banner-description{
    font-size: 1rem;
}

.banner-img{
    width: 100%;
}

/* main part */

/* team section */

main{
    max-width: 1440px;
    margin: 0 auto;
}

main > section{
    margin-top: 130px;
}

.section-title{
    font-size: 3rem;
   font-weight: 700; 
}


.teams{
    display: flex;
    align-items: center;
 
    
}

.team-img-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
    
}

.our-features{
    max-width: 530px;
    margin-left: 130px;
}


#quick-list{
  font-weight: 500;   
}


/* our feature part */

#feature-section-title{
    border-left: 5px solid #FF900E;
    padding-left: 20px;
}

.features{
    display: flex;
    gap:140px;    
}

.feature-card{
  padding: 30px;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);  
  margin-bottom: 20px; 
  border-radius: 8px;
}

.feature-card, .feature-title{
    font-size: 1.25rem;
    font-weight: 600;
    margin-top: 0px;
    margin-bottom: 0px;
   
}

.feature-archit img{
width: 100%;
}


#experience-badge{
   
    font-size: 4rem;
    font-weight: 700;     
}

#experience-year{
     font-size: 1.5rem;
    font-weight: 500;
    
}

.btn-primary-2{
    height: 190px;
    width: 350px;
    background-color: #FF900E;
    border: none;
    color: white;
    border-radius: 8px;
    margin-left: -100px;
    margin-top:-100px;
     padding: 45px 42px;
}
/* some fact */

.facts-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    

 .fact-card{
    border: 1px solid #FF900E;
    height: 240px;
    width: 240px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.fact-number{
    font-size: 2.8rem;
    font-weight: 600;
    margin-top: 5px;
    margin-bottom: 10px;
}

.fact-name{
    font-size: 1.25rem;
    font-weight: 600 ;
    margin-top: 10px;
}

.fact-description{
    max-width: 542px;
    font-size: 1rem;
}

}


/* sponser part */

.sponser-info{
    max-width: 540px;
    margin: 50px auto;
    text-align: center;
}

.sponser-companies{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.sponser-companies img{
    filter: grayscale(100%);
}


/* footer */
footer{
    background-color: #FFF4E7;
    text-align: center;
    width: 1440px;
    height: 100px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
}


/* responsive website small device */

@media screen and (max-width:576px){
    .navbar, 
    .nav-links, 
    .teams,
    .features{
        flex-direction: column;
         /* justify-items: center; */
    }

    .team-img-container,
     .facts-container,
     .sponser-companies
     {
        grid-template-columns: repeat(1, 1fr);
        justify-items: center;
        /* margin-left: 30px; */
    }
    .sponser-companies{
        gap: 50px;
        justify-items: center;
    }

    .our-features{
        margin-left: 60px;
    }

    .facts-container{
        gap:24px;
    }

    .btn-primary-2{
        margin-top: 20px;
        margin-left: 20px;
    }

    footer .foot{
        
        justify-items: center;
    }

}

/* medium devices */

@media screen and (min-width:576px) and (max-width:992px){
    .teams, .features{
        flex-direction: column;
    }

     .our-features{
        margin-left: 60px auto;
    }

    .sponser-companies , 
    .facts-container{
        grid-template-columns: repeat(2, 1fr);
        gap: 50px;
        justify-items: center;
    }

    .btn-primary-2{
        margin-top: 20px;
        margin-left: 20px;
    }

}